@charset "UTF-8";

html,
body {
  width: 1440px;
  height: 1630px;
  padding: 0;
  margin: 0 auto;
}
div,
button {
  border: 0;
  mask-origin: 0;
  padding: 0;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  clip: rect(0, 0, 0, 0);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  align-items: baseline;
  height: 90px;
  border-bottom: 1px solid #ebebeb;
}

nav ~ div {
  display: flex;
  align-content: space-around;
}

.logo a {
  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.logo .logo_box {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #ff565c;
  background-color: #ff565c;
}

nav .main_menu {
  width: 805px;
  height: 21px;
}

nav .main_menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .main_menu a {
  font-size: 14px;
  font-weight: 600;
  color: #ebebeb;
}

button {
  width: 27px;
  height: 16px;
  background-color: transparent;
}

button div {
  width: 27px;
  height: 2px;
  background-color: #000;
}

button .second-bar {
  margin: 5px 0;
}

footer {
  display: flex;
  align-items: center;
  height: 160px;
  background-color: #000;
}

section {
  height: 1440px;
}

.slider {
  width: 1012px;
  height: 581px;
}

.slider .banner .banner_list .banner_wrap {
  background: no-repeat url(img/green-chameleon.png);
}

.slider .banner .banner_list .banner_wrap a {
  display: flex;
  height: 581px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.slider .banner .banner_list .banner_wrap a .head_txt {
  width: 107px;
  height: 40px;
  background-color: #ff565c;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .banner .banner_list .banner_wrap a .sub_txt {
  font-size: 18px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .banner .banner_list .banner_wrap .card_footer {
  width: 185px;
  height: 30px;
}

.slider .banner .banner_list .banner_wrap .card_footer {
  position: absolute;
  top: 65%;
  left: 50%;
}

.slider .banner .banner_list .banner_wrap .card_footer ul {
  display: flex;
}

.slider .banner .banner_list .banner_wrap .card_footer .share {
  background: no-repeat url(img/share.png);
}

.slider .banner .banner_list .banner_wrap .card_footer .views {
  background: no-repeat url(img/views.png);
}

.slider .banner .banner_list .banner_wrap .card_footer .comments {
  background: no-repeat url(img/comments.png);
}

footer .left_part,
.center_part,
.right_part {
  display: flex;
  align-content: space-around;
}

footer .left_part {
  display: flex;
  flex-direction: column;
}

footer .left_part .foot_logo a {
  color: #f9fafc;
  font-weight: bold;
  font-size: 24px;
}

footer .left_part .foot_logo .logo_box {
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #ff565c;
  background-color: #ff565c;
}

footer .left_part .info {
  color: #ebebeb;
}

footer .center_part ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subscribebox label {
  color: #ebebeb;
  font-size: 14px;
}

.subscribebox input {
  width: 180x;
  height: 35px;
}

.subscribebox button {
  width: 120px;
  height: 35px;
  color: #fff;
  background-color: #ff565c;
}
